@media only screen and (max-width: 768px) {
    body.timlauter {
        .helloUrban {
            width: 100% !important;
            /*

            !important is poor practice, but I made an
            exception to override a constant I created in
            my helloURBN plugin.

            */
        }
        header.timlauter {
            display: block;
            width: 100%;
            height: initial;
            #input.wrapper {
                width: 100vw;
            }
        }
        main.timlauter {
            position: relative;
            width: 100%;
            left: initial;
            #output.wrapper {
                width: 100vw;
            }
        }
    }
}
