@media only screen and (max-width: 768px) {
    body.timlauter {
        .helloUrban {
            font-size: .75em;
            padding-left: 35px;
            button.collapse {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 90;
            }
        }
        header.timlauter {
            display: block;
            width: 100%;
            height: initial;
            #input.wrapper {
                width: 100vw;
            }
        }
        main.timlauter {
            position: relative;
            width: 100%;
            left: initial;
            #output.wrapper {
                width: 100vw;
            }
        }
    }
}
