$white: #ffffff;
$off-white: #f8f8f8;
$gray: #666666;
$dark-gray: #333333;
$light-gray: #999999;
$light-purple: #8a8bc9;
$dark-purple: #6c709d;
$blue: #41aec9;
$sans-serif: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
