<main id="content" class="timlauter">
    <div class="row">
        <div class="small-12 large-12 columns">
            <section id="output" class="wrapper">

                <div style="height: 30px" id="preloader" ng-include="'app/views/templates/preloader.html'"></div>

                <output id="location">{{ location }}</output>
                <output id="message">{{ message }}</output>
                <output id="error">{{ error }}</output>
                <output id="temp">{{ temp }}</output>
                <output id="description">{{ description }}</output>

            </section>
        </div>
    </div>
</main>
